body{
  background-color: #F8F8FF;
  font-family: UnifrakturMaguntia;
}

h1{
background-color:#00FFFF;
text-align:center;
color:#00008B;
font-size:50px;
font-style:italic;
}

h2{
font-weight:bold;
text-align:center;
}

p{
font-size:18px;
text-align:center;
}

<div class="images-container">
</div>
.images-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}
